{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quality Check</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="login-wrapper form-animation" style="color: white;opacity: 0">
    <h1>Arbitrium</h1>
    <form class="login-form" method="post">
        <p>The password is changed</p>
        {% csrf_token %}
        <input
            type="button"
            value="OK"
            onclick="location.href='{% url 'login'%}';"
        >
    </form>
</div>
</body>
</html>
