@font-face {
    font-family: Elektra-Text-Pro;
    src: url("../fonts/Elektra-Text-Pro-Classic.otf") format("opentype");
}

body {
    font-family: Elektra-Text-Pro
}

.menu {
    align-items: center;
    width: 200px;
    background-color: #80BC00;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    font-family: Elektra-Text-Pro;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 70%;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 3px solid white;
}

.menu-list {
    position: relative;
    margin-top: 30px;
    color: white;
    color: #FFFFFF;
    letter-spacing: 0.23px;
}

ul a {
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
}


.active::before {
    opacity: 1;
}

.logo-image {
    position: absolute;
    bottom: 10px;
    max-height: 50px;
    width: 100%;
}

img {
    width: 100%
}


.inner {
    position: absolute;
    right: 0;
    top: 0;
    left: 200px;
    bottom: 0;
}

.strip {
    position: relative;
    left: 50%;
    margin-top: 5%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 10%;
}

.header-block {
    display: flex;
    position: relative;
    width: 25%;
    margin-right: 12.5%;
    background: #0071CE;
    font-family: ElektraTextPro;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0.23px;
    border-radius: 10px;
}

.header-block:last-child {
    margin-right: 0
}

.block-fl {
    position: absolute;
    top: 20%;
    left: 20px;
    width: 80%;
    height: 30%;
    font-size: 0.6em;
}

.block-sl {
    position: relative;
    top: 55%;
    left: 20px;
    right: 20px;
    height: 30%;
    font-size: 40%;
    opacity: 0.3;
    width: calc(100% - 40px);
}

.right-block {
    position: absolute;
    right: 20px;
    width: 40%;
    text-align: right;
}

.header-long-block {
    width: 100%;
    display: block;
    background-color: #1A428A
}

.short-dist {
    margin-top: 2.5%;
}

.login-fields {
    display: flex;
    flex-direction: column;
}

.login-wrapper {
    padding: 20px 50px;
    background-color: #1A428A;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-wrapper h1 {
    color: white;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;

}

input {
    margin: 10px;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px white;
    color: white;
    font-size: 16px;
    font-family: Elektra-Text-Pro;

}

input:focus {
    outline: none;
}

.login-form button {
    width: auto;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

.login-form label {
    opacity: 0.5;
}

.add-form {
    padding: 20px 0;
    background-color: #1A428A;
    border-radius: 10px;
    color: white;
    height: auto;
}

.p-lr-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.form-animation {
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
}

.strip a::before {
    display: none;
}

.strip a {
    text-decoration: none;
}


.forgot-pass {
    text-align: center;
    color: white;
    text-decoration: none;
    opacity: 0.3;
    transition: opacity ease-in 0.3s;
    font-size: 0.8rem;
}

.forgot-pass:hover {
    opacity: 1;
}

.weekly-header {
    margin-top: 10%;
}

.add {
    text-align: center;
    opacity: 0.4;
    margin-top: 15px;
}

.form_field {
    margin-top: 20px;
    padding: 5px;
    background-color: #80BC00;
    border-radius: 10px;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-line label {
    margin-right: 15px;
}

#q_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.template_name {
    width: 100%;
}

.mobile_menu {
    display: none;
}

.mobile-header {
    display: none;
}

@media only screen and (max-width: 767px) {
    .strip {
        flex-wrap: wrap;
    }

    .header-block {
        width: 100%;
        margin-right: 0;
    }

    .inner {
        left: 0;
    }

    #nav .menu {
        display: none;
    }

    .strip-header {
        height: 45vh;
    }

    .strip-header .header-block {
        margin-top: 20px;
    }

    .header-block:nth-child(3) {
        margin-bottom: 40px;
    }

    .mobile_menu {
        display: block;
        visibility: hidden;
        height: 40vh;
        background-color: #80BC00;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .menu-open {
        visibility: visible;
    }

    .m_menu_block {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .m_menu_block a:visited {
        text-decoration: none;
        color: white;
    }

    .m_menu_block a {
        margin-top: 10px;
        font-size: 130%;
        color: white;
        text-decoration: none;
    }

    .mobile-header {
        display: block;
        height: 40px;
        background-color: #80BC00;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .show-menu {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 30px;
        color: white;
    }

    .hide-menu {
        margin-top: 10px;
        color: white;
        opacity: 0.6;
    }
    .form_field {
        width: 100%;
    }
}

