{% extends 'core.html' %}
{% load extras %}

{% block main %}
    <div class="inner">
        <div class="strip strip-header">
            <div class="header-block">
                <div class="block-fl">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </div>
                <div class="block-sl">
                    {{ request.user.profile.status|to_status }}
                </div>
            </div>
            <div class="header-block">
                <div class="block-fl">
                    13th week
                </div>
                <div class="block-sl">
                    Spring semester, 2019
                </div>
            </div>
            <div class="header-block">
                <div class="block-fl">
                    {{ courses|length }} courses
                </div>
                <div class="block-sl">
                    {% if '7' in request.user.profile.status %}
                        Teaching
                    {% else %}
                        Studying
                    {% endif %}
                </div>
            </div>
        </div>
        <form class="login-form strip add-form" action="{% url 'add_template' %} " method="post">
            {% csrf_token %}
            <div class="login-fields p-lr-40" id="q_block">
                <div class="template_name">
                    <label for="template_name">Template name</label>
                    <input type="text" name="template_name" id="template_name"/>
                </div>
                <div class="form_field">
                    <div class="form-line">
                        <label for="name1">Question</label>
                        <input type="text" name="name1" id="name1"/>
                    </div>
                    <div class="form-line">
                        <label for="value1">Type</label>
                        <select id="value1" name="value1">
                            <option value="char">Text</option>
                            <option value="int">Numeric</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="add" onclick="addBlock()">Add field</div>
            <button type="submit">
                Add template
            </button>
        </form>
    </div>
{% endblock %}

