{% extends 'core.html' %}
{% load extras %}

{% block main %}
    <div class="inner">
        <div class="strip">
            <div class="header-block">
                <div class="block-fl">
                    {{ course.name }}
                </div>
                <div class="block-sl">
                    Course
                </div>
            </div>
            <div class="header-block">
                <div class="block-fl">
                    {{ course.professor.first_name }} {{ course.professor.last_name }}
                </div>
                <div class="block-sl">
                    Lecturer of this event
                </div>
            </div>
            <div class="header-block">
                <div class="block-fl">
                    {{ amount }}
                </div>
                <div class="block-sl">
                    Enrolled
                </div>
            </div>
        </div>

      <form class="login-form strip add-form" action="{% url 'add_schedule' course%} " method="POST">
        {% csrf_token %}
        <div id='input' class="login-fields p-lr-40">
            <label for="start">Start</label>
            <input type="text" name="start" id="start"/>
            <label for="start">End</label>
            <input type="text" name="end" id="end"/>
            <label for="start">Day of week</label>
            <select id="day" name="day" onchange="isStudent()">
                <option disabled>Выберите тип т/с</option>
                <option value="monday" {% if schedule.day == 'monday' %} selected{% endif %}>Monday</option>
                <option value="tuesday" {% if schedule.day == 'tuesday' %} selected{% endif %}>Tuesday</option>
                <option value="wednesday" {% if schedule.day == 'wednesday' %} selected{% endif %}>Wednesday</option>
                <option value="thursday" {% if schedule.day == 'thursday' %} selected{% endif %}>Thursday</option>
                <option value="friday" {% if schedule.day == 'friday' %} selected{% endif %}>Friday</option>
                <option value="saturday" {% if schedule.day == 'saturday' %} selected{% endif %}>Saturday</option>
            </select>
            <br/>
            <label for="start">Type</label>
            <select id="type" name="type" onchange="isStudent()">
                <option disabled>Выберите тип т/с</option>
                <option value="lecture" selected>Lecture</option>
                <option value="lab">Lab</option>
                <option value="tutorial">Tutorial</option>
            </select>
            <br/>
            <label for="group">Group</label>
            <input type="text" name="group" id="group" value='{{ schedule.group }}'/>
            <button type="submit">
                Change
            </button>
        </div>
    </form>
    </div>

{% endblock %}
