{% extends 'core.html' %}
{% load extras %}

{% block main %}
    <div class="inner">
        <div class="strip strip-header">
            <div class="header-block">
                <div class="block-fl">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </div>
                <div class="block-sl">
                    {{ request.user.profile.status|to_status }}
                </div>
            </div>
            <div class="header-block">
                <div class="block-fl">
                    13th week
                </div>
                <div class="block-sl">
                    Spring semester, 2019
                </div>
            </div>
            <div class="header-block">
                <div class="block-fl">
                    {{ courses|length }} courses
                </div>
                <div class="block-sl">
                    {% if '7' in request.user.profile.status %}
                        Teaching
                    {% else %}
                        Studying
                    {% endif %}
                </div>
            </div>
        </div>
        <form class="login-form strip add-form" method="post">
            {% csrf_token %}
            <div class="login-fields p-lr-40">
                <label for="course">Course</label>
                <select id="course" name="course"
                        onchange="check_status()">
                    {% for course in courses %}
                        <option value={{ course.id }}>{{ course.name }}</option>
                    {% endfor %}
                </select>
                <label for="template" style="margin-top: 20px">Template name</label>
                <select id="template" name="template"
                        onchange="check_status()">
                    {% for template in templates %}
                        <option value={{ template.id }}>{{ template.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">
                    Assign
                </button>
            </div>
        </form>


        {% for template in templates %}
            <div class="login-form strip add-form">
                <div class="login-fields p-lr-40" id="q_block">
                    <div class="template_name">
                        <label for="template_name">Template name: {{ template.name }}</label>

                    </div>
                    {% for key, value in template.data.CharFields.items %}
                        <div class="form_field">
                            <div class="form-line">
                                <label for="name1">Question: {{ key }}</label>
                            </div>
                            <div class="form-line">
                                <label for="value1">Type: Text</label>
                            </div>
                        </div>
                    {% endfor %}
                    {% for key, value in template.data.IntFields.items %}
                        <div class="form_field">
                            <div class="form-line">
                                <label for="name1">Question: {{ key }}</label>
                            </div>
                            <div class="form-line">
                                <label for="value1">Type: Numeric ({{ value.min }} - {{ value.max }})</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}