{% load extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arbitrium</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
</head>
<body>
<div id="nav">
    <nav class="menu">
        <div class="logo">
            Arbitrium
        </div>
        <ul class="menu-list">
            <a class="active" href="/courses">My courses</a>
            {% if request.user.profile.status == '0' %}
                <a class="active" href="/add_member">Add member</a>
                <a class="active" href="/add_course">Add course</a>
                <a class="active" href="/add_template">Add template</a>
                <a class="active" href="/users">Users</a>
            {% endif %}
            {% if request.user.profile.status == '7' %}
                <a class="active" href="/assign_template_to_course">Assign template to course</a>
            {% endif %}
            <a class="active" href="/change-password">Change Password</a>
            <a class="active" href="/logout">Log out</a>
        </ul>
        <div class="logo-image">
            <img src="/static/img/IU_logo_RGB_3.png">
        </div>
    </nav>
</div>
{% block main %}
{% endblock %}
<div class="mobile-header">
    <div class="show-menu" onclick="showMenu()">
        Show menu
    </div>
</div>
<div class="mobile_menu" id="mobile_menu">
    <div class="m_menu_block">
        <a class="active" href="/courses">My courses</a>
        {% if request.user.profile.status == '0' %}
            <a class="active" href="/add_member">Add member</a>
            <a class="active" href="/add_course">Add course</a>
            <a class="active" href="/add_template">Add template</a>
            <a class="active" href="/users">Users</a>
        {% endif %}
        {% if request.user.profile.status == '7' %}
            <a class="active" href="/assign_template_to_course">Assign template to course</a>
        {% endif %}
        <a class="active" href="/change-password">Change Password</a>
        <a class="active" href="/logout">Log out</a>
        <span class="hide-menu" onclick="showMenu()">Hide menu</span>
    </div>
</div>
</body>
<script type="text/javascript">
    function addBlock() {
        console.log('PISOS');
        var block = document.getElementById('q_block');
        let i = block.childElementCount + 1;
        var div = document.createElement('div');
        div.className = 'form_field';
        div.innerHTML = '                    <div class="form-line">\n' +
            '                        <label for="name' + i + '">Question</label>\n' +
            '                        <input type="text" name="name' + i + '" id="name' + i + '"/>\n' +
            '                    </div>\n' +
            '                    <div class="form-line">\n' +
            '                        <label for="value' + i + '">Type</label>\n' +
            '                        <select id="value' + i + '" name="value' + i + '">\n' +
            '                            <option value="char">Text</option>\n' +
            '                            <option value="int">Numeric</option>\n' +
            '                        </select>\n' +
            '                    </div>\n'
        block.appendChild(div)
    }

    function showMenu() {
        var menu = document.getElementById('mobile_menu');
        if (menu.classList.contains('menu-open')) {
            menu.classList.remove('menu-open')
        } else {
            menu.classList.add('menu-open')
        }
    }
</script>
</html>