{% extends 'core.html' %}
{% load extras %}

{% block main %}
    <div class="inner">
        <div class="strip strip-header">
            <div class="header-block">
                <div class="block-fl">
                    {{ course.name }}
                </div>
                <div class="block-sl">
                    Course
                </div>
            </div>
            <div class="header-block">
                <div class="block-fl">
                    {{ course.professor.first_name }} {{ course.professor.last_name }}
                </div>
                <div class="block-sl">
                    Lecturer of this event
                </div>
            </div>
            <div class="header-block">
                <div class="block-fl">
                    {{ amount }}
                </div>
                <div class="block-sl">
                    Enrolled
                </div>
            </div>
        </div>

        <div class="strip short-dist">
            <a href="{% url 'schedule' course=course.id %}" class="header-block header-long-block">
                <div class="block-fl">
                    Schedule
                </div>
            </a>
        </div>

        {% for criterion in criteria.items %}
            <div class="strip short-dist">
                <div class="header-block header-long-block">
                    <div class="block-fl" style="text-transform: capitalize">
                        {{ criterion.0 }}
                    </div>
                    <div class="block-sl">
                        Value {{ criterion.1.min }}-{{ criterion.1.max }}
                    </div>
                    <div class="right-block">
                        {{ criterion.1.val }} / {{ criterion.1.max }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="strip short-dist weekly-header">
            <div class="header-block header-long-block" style="background-color: #80BC00">
                <div class="block-fl" style="text-transform: capitalize">
                    Weekly statistics
                </div>
                <div class="block-sl">
                    Yes, we have it
                </div>
                <div class="right-block">
                </div>
            </div>
        </div>

        {% for week, stats in weekly_stat.items %}
            <div class="strip short-dist">
                <div class="header-block header-long-block">
                    <div class="block-fl" style="text-transform: capitalize">
                        Week {{ week }}
                    </div>

                    <div class="block-sl" style="text-transform: capitalize">
                        {% for element, value in stats.items %}
                            {{ element }}: {{ value.val }}  |
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if request.user.profile.status == '7' %}
            <div class="strip short-dist weekly-header">
                <div class="header-block header-long-block" style="background-color: #80BC00">
                    <div class="block-fl" style="text-transform: capitalize">
                        Text feedback
                    </div>
                    <div class="block-sl">
                        Students like you ;)
                    </div>
                    <div class="right-block">
                    </div>
                </div>
            </div>
        {% endif %}

        {% for feedback in text %}
            <div class="strip short-dist">
                <div class="header-block header-long-block">
                    <div class="block-fl" style="text-transform: capitalize">
                        {{ feedback.q }}
                    </div>

                    <div class="block-sl" style="text-transform: capitalize">
                        {{ feedback.a }}
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
{% endblock %}