{% extends 'core.html' %}
{% load extras %}

{% block main %}
<div class="inner">
    <div class="strip">
        <div class="header-block">
            <div class="block-fl">
                {{ request.user.first_name }} {{ request.user.last_name }}
            </div>
            <div class="block-sl">
                {{ request.user.profile.status|to_status }}
            </div>
        </div>
         <div class="header-block">
                <div class="block-fl">
                    13th week
                </div>
                <div class="block-sl">
                    Spring semester, 2019
                </div>
            </div>
        <div class="header-block">
            <div class="block-fl">
                {{ courses|length }} courses
            </div>
            <div class="block-sl">
                {% if request.user.profile.status == '7' %}
                    Teaching
                {% elif request.user.profile.status != '0'%}
                    Studying
                {% endif %}
            </div>
        </div>
    </div>
    {% if request.user.profile.status == '0' or request.user.profile.status == '7' %}
        {% for class in schedule %}
            <div class="strip short-dist">
                <a href="{% url 'schedule_details' course=course schedule=class.id %}" class="header-block header-long-block">
                    <div class="block-fl">
                        {{ class.type.capitalize }}  {% if class.type == 'lab' %} for Group {{ class.group }}{% endif %}
                    </div>
                    <div class="block-sl">
                        <p>Day of the week: {{ class.day.capitalize }}  Class ends at: {{ class.start }}   Feedback window closes at: {{ class.end }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="strip short-dist">
            <a href="{% url 'add_schedule' course %}" class="header-block header-long-block">
                <div class="block-fl">
                    Add new Class
                </div>
            </a>
        </div>
    {% else %}
        {% for class in schedule %}
            <div class="strip short-dist">
                    <div class="block-fl">
                        {{ class.type.capitalize }}  {% if class.type == 'lab' %}  for Group {{ class.group }}{% endif %}
                    </div>
                    <div class="block-sl">
                        <p>Day of the week: {{ class.day.capitalize }}  Class ends at: {{ class.start }}   Feedback window closes at: {{ class.end }}</p>
                    </div>
            </div>
        {% endfor %}
    {% endif %}

</div>
{% endblock %}